@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
.App{
  text-align: unset;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  letter-spacing: -0.03em;
}
.set_inner{
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}
.section_title{
  line-height: 1.2;
  font-size: 18px;
	font-weight: 500;
}
a{
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul{
  padding: 0;
}
li{
  display: block;
  list-style: none;
}
button{
  outline: none;
  border: none;
  background-color: transparent;
}
dl,dt,dd,ul{
  margin: 0;
}
img{
  max-width: 100%;
}
input:focus,
textarea:focus{
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="calendar"],
input[type="time"]{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #222;
  font-size: 14px;
  color: #222;
  box-sizing: border-box;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
input[type="calendar"]::placeholder,
input[type="time"]::placeholder{
  font-size: 14px;
  color: #B8B6B6;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="calendar"]:focus,
input[type="time"]:focus{
  border-bottom-width: 2px;
}
input[type="radio"],
input[type="checkbox"],
input[type="file"]{
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  outline: none;
  border: none;
  background: transparent;
  margin: 0;
}
textarea{
  padding: 12px;
  border-radius: 6px;
  color: #222;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
textarea::placeholder{
  font-size: 12px;
}
.txt_info{
  font-size: 12px;
  color: #989696;
  line-height: 1.4;
}