.detail_main{
  background-color: #F4F4F4;
}
.Detail_img_box {
  position: relative;
}
.Detail_img_box span{
  display: block;
  height: 0;
  padding-bottom: 53.47222%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Detail_img_box img {
  position: relative;
  width: 100%;
  z-index: 1;
}
.Detail_img_box > p {
  color: #4d4d4d;
}
.labels_group{
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
}
.info_label {
  display: inline-block;
  padding: 0 10px;
  background-color: #E1483C;
  position: relative;
  border-radius: 20px;
  border-color: transparent;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  z-index: 2;
  color: #fff!important;
  text-align: center;
}
.info_label+.info_label{
  margin-left: 10px;
}
.info_label.subject{
  background-color: #4d4d4d;
}
.detail_head{
  position: relative;
  padding: 0 15px;
  text-align: center;
  font-size: 13px;
  margin-top: -15vw;
}
.detail_head_inner{
  background: #fff;
  border-radius: 10px;
}
.detail_head .text_box{
  padding: 40px 15px 7.51879%;
}
.detail_head h4{
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  word-break: keep-all;
  margin-top: 15px;
}
.detail_profile_box{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: -35px auto 0;
}
.detail_profile {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
}
.profile {
  display: block;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
.detail_body{
  position: relative;
  padding-top: 20px;
  padding-bottom: 80px;
  z-index: 1;
}
.Detail_line {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 13px;
  align-items: center;
}
.Detail_line > p {
  margin: 0px 10px 0px 5px;
}
.Detail_line svg{
  margin-top: 2px;
}
.Detail_desc {
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom: 50px;
  text-align: left;
}

.Detail_member {
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  text-align: left;
}
.box_ttl {
  font-size: 15px;
  color: #fc4700;
}

.box_sub {
  margin: 4px 0px 15px 0px;
  font-weight: 500;
  font-size: 16px;
}
.member_list {
  display: flex;
  align-items: center;
}
.Detail_member_profile {
  width: 60px;
  height: 60px;
  border-radius: 70%;
  overflow: hidden;
  z-index: 4;
  top: -245px;
}
.Detail_member_profile_Desc > span {
  margin: 5px 0px 0px 12px;
  font-weight: 700;
}
.Detail_member_profile_Desc > p {
  margin: 0 0px 0px 12px;
  color: #B8B6B6;
  font-size: 14px;
  font-weight: 500;
}

/* INFO  */

.Detail_info {
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  margin: 40px 0 0;
}
.Detail_info_desc > p {
  text-align: left;
}

.info_desc {
  display: flex;
  align-items: center;
}
.info_desc > svg{
  margin-top: 2px;
}
.info_desc+.info_desc{
  margin-top: 10px;
  font-size: 15px;
}

.info_desc > p {
  margin-left: 10px;
}
.detail_map {
  padding: 14px 12px 40px;
}
.detail_map_inner{

  display: flex;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.detail_map_desc > p {
  display: flex;
  margin: 10px 0px 0px 15px;
  font-size: 14px;
}

.detail_map_desc > span {
  display: flex;
  margin: 5px 0px 5px 15px;
  color: #989696;
  font-size: small;
}

.Detail_join {
  background-color: white;
  width: 100%;
}

.Detail_join_create {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  overflow: hidden;
}
.btn_like{
  position: relative;
  margin: 3px 0 0 -4px;
  
}
.btn_like:before{
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 12px;
  border-radius: 50%;
  background-color: #fff;
  content: '';
  z-index: -1;
}